<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDn6HPnnzS7dcUY1DJf_Vh3sNKlMVDnpM</string>
	<key>GCM_SENDER_ID</key>
	<string>1050578240790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.munzur.munzurMobil</string>
	<key>PROJECT_ID</key>
	<string>munzur-mobil</string>
	<key>STORAGE_BUCKET</key>
	<string>munzur-mobil.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050578240790:ios:f2fba2f1b44d2fb35e7c37</string>
</dict>
</plist>